<!DOCTYPE html>
<html>
  <head>
    <title>FoodFilter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  <body>
    <img class="img-responsive" id="plate" src= "C:\Users\najam\OneDrive\Documents\Bushra\jovian-careers-website\static\plate.jpg">
    
    <div class="container">
      
    <h1 class="text-center mt-2 mb-4">WHATTOEAT</h1>
      
    <h2>About WTE</h2>
      
    <p class="lead">Lorem ipsum odor amet, consectetuer adipiscing elit. Amet litora nullam neque; aptent dapibus nostra dis ligula luctus. Cursus donec ultricies, euismod commodo pretium lacus fusce. Himenaeos mauris pellentesque est litora tellus eu maximus. Eleifend nascetur neque lacus taciti non sem velit curae!
    </p>
      
    <h2>Your meals</h2>
      
    <p class="text-center">TO DO - Show the meals here</p>
      
    <button> [meal name] click for more info </button>
      
    </div>
  </body>
</html>